*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;  
}
nav ul {
    list-style-type: none;
}
nav li {
    float: left;
}
nav ul::after{
content: :"";
display: table;
clear: both;
}
nav li {
    float: left;
    width: 25%;
    text-align: center;
}
nav {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}
nav a {
    display: block;
    text text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
nav a:hover{
    color:orange;
    border-bottom: 2px solid gold;
}
nav a{
    display: block;
    text-decoration: none;
    color:black;
    border-bottom: 2px solid transparent;
}
